* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  
  
}

header {
    display: flex;
    width: 100%;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 8px;
    background: #3a3a3b;
    box-shadow: 0px 7px 7px 0px rgba(11, 10, 10, 0.25);
    z-index: 999;
  }
  
  header h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  }
  
  .logo {
    width: 28px;
    height: 28px;
    margin-left: 79px;
  }

  .navbar {
    display: flex;
    list-style-type: none;
    margin-left: 1000px;
  }
.navbar li {
    margin-left: 60px;
    font-size: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
}


h2 {
    padding: 30px;
    font-size: 2rem;
    color: #f1f1f1;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  
  p {
    color:#33A8DB;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  
  section {
    margin: 100px auto;
    background-image: url("../Components/images/tech.jpg"); 
    background-size: cover;
  }

  #course-content {
    text-align: center;
    width: 1920px;
    height:500px;
}

#course-content .modules-list {
    margin: 24px 0;
    
}
  
#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
  
#course-content .modules-list .module span {
    color: #33A8DB;
}

footer{
background-color: #3a3a3b; 
color: #fff; 
padding: 5px; 
text-align: center; 
font-weight: bold;
position: fixed; 
bottom: 0; 
width: 100%; 
height: 30px;
}