* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  
  
}

 /* ------------------Header------------------- */

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 20px 30px;
    background: #000;
    box-shadow: 0px 7px 7px 0px rgba(11, 10, 10, 0.25);
    z-index: 999;
  }
  
  header h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #a8cf9c;
    margin: 0; 
  }
  
  .navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-left: 20px;
    font-size: 16px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
  }
  
  
  @media only screen and (max-width: 768px) {
    header {
      justify-content: center; 
    }
    
    .navbar {
      display: none;
    }
  }
  


 /* ------------------Header------------------- */
   /* ------------------TOPO------------------- */
.topo-do-site {
    background-image: url("../Components/images/blackin.jpg"); 
    padding: 20px;
}

.interface {
    max-width: 1200px; 
    margin: 0 auto;
}

.flex {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.txt-topo-site {
    width: 50%; 
}

.img-topo-site {
    width: 40%; 
}

.img-topo-site img {
    width: 100%;
    display: block;
   
}

.img-topo-site img:hover {
    transform: scale(1.1); 
}
.btn-contato {
    margin-top: 10px; 
}

.btn-contato button {
    padding: 10px 20px; 
    background-color: #333; 
    color:#90ee90;; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-contato button:hover {
    background-color: #555; 
}
/* ------------------TOPO------------------- */
  /* ------------------Section 1------------------- */

  section {
    margin: 0 auto;
    background-color: #000; 
    background-size: cover;
    text-align: center; 
    padding: 50px 20px; 
  }
  
  h2 {
    padding: 20px;
    font-size: 2rem; 
    color: #a8cf9c;
    font-weight: bold;
    letter-spacing: 2px; 
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.5rem; 
    color: #90ee90;
  }

  
  p {
    color: #90ee90;
    font-weight: bold;
    font-size: 1rem; 
    margin-bottom: 1.5rem; 
  }
  
  #course-content {
    width: 100%;
  }
  
  #course-content .modules-list {
    margin: 24px auto; 
  }
  
  #course-content .modules-list .module {
    color: white;
    max-width: 90%;
    margin: 0 auto 24px; 
    border: 1px solid #90ee90;
    background-color: #252525;
    padding: 16px;
    border-radius: 50px; 
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
  }
  
  #course-content .modules-list .module span {
    color: #90ee90;
  }
  
    #course-content .modules-list .module a {
      text-decoration: none;
      color: white
    }
 
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 1.5rem; 
      padding: 10px;
    }
  
    h3 {
      font-size: 1.2rem; 
    }
  
    p {
      font-size: 0.9rem; 
      margin-bottom: 1rem; 
    }
  }
  
 /* ------------------Section1------------------- */

 /* ------------------Portfolio------------------- */
 .Portfolio {
    background-image: url("../Components/images/blackin.jpg");
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 20px; 
}

.Portfolio > div {
    flex: 1;
    margin: 0 10px;
    max-width: 400px; 
    text-align: center; 
}

.Portfolio h2 {
    font-size: 24px;
    color: #a8cf9c;
    margin-bottom: 10px;
}
#course-content .Portfolio ul li a {
    text-decoration: none;
}


.Portfolio ul {

    color: #90ee90;
    padding: 10px;
    font-size: 20px;
}
.Portfolio li {
    margin-bottom: 5px;

}


@media only screen and (max-width: 768px) {
    .Portfolio > div {
        max-width: 100%;
        margin: 10px 0; 
    }
}


 /* ------------------Portfolio------------------- */

     /* ------------------Contatos------------------- */
     .contatos {
        text-align: center;
        padding: 20px; 
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .contatos h2 {
        font-size: 24px;
        color: #a8cf9c;
        margin-bottom: 10px;
    }
    
    .social-links p {
        margin: 0;
        margin-right: 10px; 
    }
    
    .social-links img {
        width: 25px; 
        height: auto;
        margin-right: 5px;
    }
    
    .social-links a {
        text-decoration: none;
        color: #90ee90; 
    }
    
   
    @media only screen and (max-width: 768px) {
        .social-links {
            flex-wrap: wrap; 
        }
    
        .social-links p {
            margin-right: 0; 
            margin-bottom: 10px; 
        }
    }
    
   
     /* ------------------Contatos------------------- */
      /* ------------------Footer------------------- */

      footer {
        background-color: #a8cf9c;
        height: 40px;
        padding: 8px; 
        text-align: center;
        font-weight: bold;
        bottom: 0;
        width: 100%;
        min-height: 30px; 
    }

    .parfooter{
        font-size: 16px;
        color: #000;
        padding: 6px;
    }
    
   
    @media only screen and (max-width: 768px) {
        footer {
            padding: 5px; 
            font-size: 14px; 
        }
    }
    

